<main>
	<div class="container">
		<div class="row home z-depth-4">
			<div class="col s12">
				<h1><i class="fa fa-users" aria-hidden="true"></i> {{title}}</h1>
				<hr>
				<h2>Answer a few basic questions.</h2>
				<h2>Then find the friend with the greatest compatibility!</h2>
				<a href="/survey" class="waves-effect waves-light btn red darken-3">Survey</a>
			</div>
		</div>
	</div>
</main>