<main>
	<div class="container">
		<div class="row match z-depth-4">
			<div class="col s12">
				<h1><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{title}}</h1>
				<hr>
				<img src={{img}}>
				<h2>{{name}}</h2>
			</div>
		</div>
	</div>
</main>