@font-face {
  font-family: "Harabara Mais";
  src: url("../fonts/harabara-mais/Harabara Mais.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Simplifica";
  src: url("../fonts/Simplifica.ttf");
}
header .navbar-fixed {
  margin-bottom: 40px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.input-group {
  display: table;
}
.input-group a {
  padding: 0 15px;
  width: 50px;
}

.input-group input, .suffix {
  display: table-cell;
}

.suffix {
  width: 1%;
}

main {
  flex: 1 0 auto;
}
main .container .tabs {
  margin-bottom: 20px;
}
main .container .tabs .tab a {
  color: rgba(0, 172, 193, 0.7);
}
main .container .tabs .tab a:hover {
  color: #00acc1;
}
main .container .tabs .tab a.active {
  color: #00acc1;
}
main .container .tabs .indicator {
  background-color: #00acc1;
}
main .container .home, main .container .match {
  width: 60%;
  margin: 0 auto;
  background: #eee;
  border-radius: 5px;
  padding: 40px;
}
main .container .home .col h1, main .container .match .col h1 {
  margin-top: 0;
  font-size: 4rem;
}
main .container .home .col h2, main .container .match .col h2 {
  font-size: 1.8rem;
}
main .container section {
  border-bottom: 1px solid #ccc;
}
main .container section:last-of-type {
  border-bottom: none;
}
main .container section .input-field {
  margin-top: 0;
}
main .container section h1 {
  margin-top: 0;
  font-size: 2rem;
}
main .container section h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
main .container section h3 {
  font-size: 1.5rem;
}
main .container section form .row {
  margin-bottom: 0;
}
main .container section form button {
  margin: 30px 0;
}
main .container .match {
  margin-bottom: 40px;
}
main .container .match h2 {
  text-align: center;
}
main .container .match img {
  display: block;
  margin: 40px auto 0;
}

/*! Footer */
footer h5 {
  color: #9d9d9d;
  font-style: italic;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #65c2ed;
}
footer .footer-contact h5 {
  margin-bottom: 20px;
}
footer .footer-contact .fa {
  width: 20px;
  padding-right: 10px;
  color: #fff;
}
footer .footer-navigation ul {
  width: 50%;
  float: left;
}
footer .footer-navigation .fa {
  padding-right: 10px;
  color: #fff;
}
footer .footer-copyright {
  text-align: center;
}
footer .social li {
  float: left;
}
footer .social a {
  display: inline-block;
  padding: 0 7px;
  margin: 3px 10px 10px 0;
  vertical-align: middle;
}

/*! Footer */
@media only screen and (max-width: 1199px) {
  header .navbar-fixed .brand-logo {
    font-size: 1.2rem;
  }
  header .navbar-fixed .left a, header .navbar-fixed .right a {
    padding: 0 8px;
  }
  header .navbar-fixed .left {
    left: 122px;
    font-size: 1rem;
  }
  header .navbar-fixed .right {
    font-size: 1rem;
  }

  footer .footer-navigation li {
    width: 110px;
  }
}
